/************** styles -> theme -> color set -> test **************/

$dark-box-darker: #162B3B;
$dark-box-lighter: #2E5C7C;

$border: #5895bf;

$background-dark: #0f202b;
$background-light: #243D51;

$text-white: #f3fbfd;
$text-white-shadow: #292b2d;

$text-grey: #bfdaec;
$text-grey-shadow: #0c1215;

$tile-lighter: #192e3e;
$tile-darker: #1b384c;

$light-box: #416D90;

// *** Base ***

$primary-light-0: #E7FEFA;
$primary-light-1: #BCFBF2;
$primary-light-2: #90F9E9;
$primary-medium-0: #65F6E0;
$primary-medium-1: #39F3D8;
$primary-medium-2: #0EF1CF;
$primary-medium-3: #0CC6AA;
$primary-medium-4: #099A84;
$primary-dark-0: #066556;
$primary-dark-1: #04433A;
$primary-dark-2: #011815;

$secondary-light-0: #FBEAF0;
$secondary-light-1: #F3C3D6;
$secondary-light-2: #EC9DBB;
$secondary-medium-0: #E57BA4;
$secondary-medium-1: #DC5086;
$secondary-medium-2: #D52A6C;
$secondary-medium-3: #AF2358;
$secondary-medium-4: #881B45;
$secondary-dark-0: #621331;
$secondary-dark-1: #3C0C1E;
$secondary-dark-2: #15040B;

$tertiary-light-0: #FAEAF0;
$tertiary-light-1: #F1C6D5;
$tertiary-light-2: #E8A1BA;
$tertiary-medium-0: #DF7C9E;
$tertiary-medium-1: #D65783;
$tertiary-medium-2: #CD3268;
$tertiary-medium-3: #A82955;
$tertiary-medium-4: #832043;
$tertiary-dark-0: #5E1730;
$tertiary-dark-1: #390E1D;
$tertiary-dark-2: #15050A;

// *** Element ***

// Title
$title-h1: $primary-dark-1;
$title-h2: $primary-light-0;
$title-h3: $primary-light-0;
$title-h4: $primary-light-0;
$title-h5: $primary-light-0;

// Text
$text: $primary-dark-1;
$link: $primary-dark-1;
$link-hover: $secondary-medium-1;

// Border
//$border: $primary-medium-0;
//$border-highlight: $secondary-medium-0;

// Background
$background: $primary-light-0;

// Input
