/************** styles -> theme -> color set -> test **************/

// *** Base ***

$primary-light-0: #EAF8FA;
$primary-light-1: #C6EBF1;
$primary-light-2: #A1DDE8;
$primary-medium-0: #7CD0DF;
$primary-medium-1: #57C3D6;
$primary-medium-2: #32B6CD;
$primary-medium-3: #2995A8;
$primary-medium-4: #207483;
$primary-dark-0: #17545E;
$primary-dark-1: #0E3339;
$primary-dark-2: #051215;

$secondary-light-0: #FAEAF0;
$secondary-light-1: #F1C6D5;
$secondary-light-2: #E8A1BA;
$secondary-medium-0: #DF7C9E;
$secondary-medium-1: #D65783;
$secondary-medium-2: #CD3268;
$secondary-medium-3: #A82955;
$secondary-medium-4: #832043;
$secondary-dark-0: #5E1730;
$secondary-dark-1: #390E1D;
$secondary-dark-2: #15050A;

$tertiary-light-0: #FAF5EA;
$tertiary-light-1: #F1E2C6;
$tertiary-light-2: #E8CFA1;
$tertiary-medium-0: #DFBC7C;
$tertiary-medium-1: #D6AA57;
$tertiary-medium-2: #CD9732;
$tertiary-medium-3: #A87C29;
$tertiary-medium-4: #836120;
$tertiary-dark-0: #5E4517;
$tertiary-dark-1: #392A0E;
$tertiary-dark-2: #150F05;

// *** Element ***

// Title
$title-h1: $primary-light-1;
$title-h2: $primary-light-0;
$title-h3: $primary-light-0;
$title-h4: $primary-light-0;
$title-h5: $primary-light-0;

// Text
$text: $primary-light-0;
$link: $primary-light-0;
$link-hover: $primary-light-0;

// Border
$border: $primary-light-0;
$border-highlight: $primary-light-0;

// Background
$background: $primary-light-0;

// Input
