/************** style - theme - background **************/

@mixin striped($lightColor, $darkColor) {
  background-color: $lightColor;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, $darkColor 0, $darkColor 1px, $lightColor 0, $lightColor 50%);
}

@mixin paper($lightColor, $darkColor) {
  background-color: $lightColor;
  background-image:  linear-gradient($darkColor 2px, transparent 2px), linear-gradient(90deg, $darkColor 2px, transparent 2px), linear-gradient($darkColor 1px, transparent 1px), linear-gradient(90deg, $darkColor 1px, $lightColor 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


@mixin vertical-gradian($lightColor, $mediumColor, $darkColor) {
  background: linear-gradient(0 ,
  rgba($darkColor, 0.8) 0%,
  rgba($mediumColor, 0.6) 30%,
  rgba($lightColor, 0.7) 40%,
  rgba($lightColor, 0.7) 60%,
  rgba($mediumColor, 0.6) 70%,
  rgba($darkColor, 0.8) 100%
  );
}

@mixin honeycomb($lightColor, $darkColor) {
    background-color: $lightColor;
    background-image:
        conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, $darkColor 0.5deg, $darkColor 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, $darkColor 0.5deg, $darkColor 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, $darkColor 0.5deg, $darkColor 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, $darkColor 0.5deg, $darkColor 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, $darkColor 0.5deg, $darkColor 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, $darkColor 0.5deg, $darkColor 119.5deg, transparent 119.5deg, transparent 120deg);
    background-position: 0 0, 10px 17px, 0 0, 10px 17px, 10px 0, 0 17px;
    background-size: 20px 34px;
}

@mixin light-shadowbox($lightColor) {
    background-color: rgb($lightColor, 0.5);
    padding: 10px;
    position: relative;
    z-index: 0;
    margin: 10px;
}
