/************** style - theme - title **************/

@mixin main($text, $shadow) {
    color: $text;
    text-shadow: $shadow 2px 2px;
    font-weight: bold;
}

@mixin underline($text, $shadow, $underline) {
    color: $text;
    position: relative;
    text-shadow: $shadow 1px 1px;
    display: block;
    padding: 0 15px;
    width: fit-content;
    font-weight: bold;
    margin: 10px auto 28px;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 15px;
        background-color: $underline;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        margin: 0 auto;
        opacity: 0.4;
    }
}

@mixin tile($text-color, $background-color-dark, $background-color-light , $border-color) {
    color: $text-color;
    border-bottom: 2px solid $border-color;
    background: linear-gradient(0, $background-color-light 0%, $background-color-dark 100%);
    font-weight: bold;
    text-align: center;
    text-shadow: $background-color-dark 1px 1px;
}
