/************** style - theme - layout **************/

@use 'color_set/color' as color;
@use 'mixin/title' as title;
@use 'mixin/background' as background;

// *** Html ***

html {
    background-color:  color.$primary-medium-4;
}

// *** Body ***

body {
  background-image: url('../images/test.jpg');
  background-repeat: repeat;
  margin : 0;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: auto 250px 1024px 250px auto;
  grid-template-areas:
    'header header header header header'
    '. aside-left main aside-right .'
    'footer footer footer footer footer'
  ;
}

body::after {
  @include background.vertical-gradian(color.$primary-medium-1, color.$primary-medium-2, color.$primary-medium-4);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

// *** Main ***

main {
  @include background.striped(color.$primary-dark-0, color.$primary-medium-4);
  display: block;
  width: 1024px;
  border: solid 2px color.$border;
  margin: 0 auto;
  min-height: 900px;
  position: relative;
  z-index: 2;
  grid-area: main;
}

// *** Content ***

.lcdp-content-nav {
    display: flex;

    a {
        @include title.tile(color.$secondary-light-2, color.$primary-dark-0, color.$primary-medium-4, color.$primary-medium-2, color.$border);
        flex: fit-content;
        border-right: 2px solid color.$border;

        &:last-child {
            border-right: none;
        }

        &:hover {
            @include title.tile(color.$primary-light-2, color.$secondary-dark-0, color.$secondary-medium-4, color.$secondary-medium-2, color.$border);
        }

        &.active {
            @include title.tile(color.$primary-light-2, color.$secondary-dark-0, color.$secondary-medium-4, color.$secondary-medium-2, color.$border);
        }
    }
}

.content {
    @include background.light-shadowbox(color.$primary-medium-0);
}

// *** Aside ***

aside {
    display: block;
    border: solid 2px color.$border;
    position: relative;
    z-index: 2;
    height: fit-content;

    &.lcdp-aside-left {
        @include background.paper(color.$primary-light-2, color.$primary-medium-0);
        grid-area: aside-left;
        margin-right: 25px;
    }

    &.lcdp-aside-right {
        @include background.honeycomb(color.$primary-light-2, color.$primary-medium-1);
        grid-area: aside-right;
        margin-left: 25px;

        nav {
            @include background.light-shadowbox(color.$primary-light-2);

            a {
                display: block;
            }
        }
    }
}

// *** Article ***

.lcdp-article-box {
  display: flex;
  flex-wrap: wrap;
}

article {
  background-color: color.$tertiary-medium-1;
  width: 48%;
  margin-left: 1%;
  margin-bottom: 5px;
}

// *** move to team ***

.lcdp-itl-team-list-item {
    display: grid;
    grid-template-columns: 50px 1fr 15px;
    grid-template-rows: 30px 20px;
    grid-template-areas:
        'logo title action'
        'logo info action'
    ;

    img {
        grid-area: logo;
    }

    h3 {
        grid-area: title;
    }

    p {
        grid-area: action;
    }

    .lcdp-cities {
        grid-area: info;
        width: 100%;

        li {
            display: inline;
        }
    }
}
