/************** style - theme - text **************/

@use 'color_set/color' as color;
@use 'mixin/title' as title;

// *** Font ***

$main-font: ShareTech;

@font-face {
  font-family: $main-font;
  src: url(../font/ShareTech-Regular.ttf) format("truetype");
  font-display: fallback;
}

// *** Default font ***

html {
  font-family: $main-font, Arial, sans-serif;
  font-weight: normal;
  color: color.$text-white;
}

// *** Title ***

main {
    h1 {
        @include title.tile(color.$text-white, #1b384c, #1a3243, color.$border);
    }

    h2 {
        @include title.underline(color.$text-white, color.$text-white-shadow, color.$text-white);
    }
}

aside {
    h2 {
        @include title.underline(color.$text-grey, color.$text-grey-shadow, color.$text-white);
        margin: 0 auto 20px;
    }
}

article {
    h3 {
        color: color.$text-grey;
        text-shadow: color.$text-grey-shadow 1px 1px;
        margin-left: 10px;
        font-weight: bold;
    }
}


// *** Link ***

a {
    &:active {
        color: color.$link-hover;
    }

    &:visited{
        color: color.$link;
    }

    &:hover {
        color: color.$link-hover;
    }
}

// *** Selection ***

::selection {
  background-color: color.$secondary-light-2;
  color: color.$primary-dark-1;
}

h2::selection {
  text-shadow: color.$secondary-medium-4 2px 2px;
}
