/************** App **************/
html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

ul, menu {
  margin: 0 auto;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-variant-numeric: lining-nums;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - mixin **************/
#lcdp-main-header {
  margin-bottom: 50px;
  padding-top: 60px;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 60px max-content auto max-content auto 40px 60px;
  grid-area: header;
}
#lcdp-main-header nav {
  background-image: url("../images/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#lcdp-main-header nav a {
  display: none;
}
#lcdp-main-header .lcdp-bar {
  position: relative;
  height: 11px;
}
#lcdp-main-header .lcdp-bar:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5895bf;
  transform: skew(35deg);
}
#lcdp-main-header .lcdp-bar:after {
  bottom: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5895bf;
  transform: skew(35deg);
}
#lcdp-main-header .lcdp-bar {
  margin: 9px 20px;
}
#lcdp-main-header .lcdp-bar:first-child {
  margin-left: 0;
}
#lcdp-main-header .lcdp-bar:last-child {
  margin-right: 0;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - mixin **************/
#lcdp-main-footer {
  margin-top: 50px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
  grid-area: footer;
}
#lcdp-main-footer .lcdp-bar {
  position: relative;
  height: 11px;
}
#lcdp-main-footer .lcdp-bar:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5895bf;
  transform: skew(35deg);
}
#lcdp-main-footer .lcdp-bar:after {
  bottom: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5895bf;
  transform: skew(35deg);
}
#lcdp-main-footer .lcdp-bar {
  margin: 9px 20px;
}
#lcdp-main-footer .lcdp-bar:first-child {
  margin-left: 0;
}
#lcdp-main-footer .lcdp-bar:last-child {
  margin-right: 0;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - title **************/
/************** style - theme - background **************/
html {
  background-color: #0f202b;
}

body {
  background-image: url("../images/test.jpg");
  background-repeat: repeat;
  background-size: 415px;
  background-position: 80px;
  margin: 0;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: auto 250px 1024px 250px auto;
  grid-template-areas: "header header header header header" ". aside-left main aside-right ." "footer footer footer footer footer";
}
body::after {
  background: linear-gradient(0, rgba(22, 43, 59, 0.9) 0%, rgba(46, 92, 124, 0.8) 20%, rgba(22, 43, 59, 0.8) 80%, rgba(22, 43, 59, 0.9) 100%);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

main {
  background-color: #0f202b;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #243D51 0, #243D51 1px, #0f202b 0, #0f202b 50%);
  display: block;
  width: 1024px;
  border: solid 2px #5895bf;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  grid-area: main;
  height: 690px;
}

.lcdp-scroll {
  overflow-y: scroll;
  height: calc(100% - 39px);
  padding-right: 5px;
}

aside {
  display: block;
  border: solid 2px #5895bf;
  position: relative;
  z-index: 2;
  height: fit-content;
}
aside.lcdp-aside-left {
  background-color: #0f202b;
  background-image: linear-gradient(#243D51 2px, transparent 2px), linear-gradient(90deg, #243D51 2px, transparent 2px), linear-gradient(#243D51 1px, transparent 1px), linear-gradient(90deg, #243D51 1px, #0f202b 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  grid-area: aside-left;
  margin-right: 25px;
}
aside.lcdp-aside-right {
  background-color: #243D51;
  background-image: conic-gradient(from 60deg at 56.25% 70.8333333333%, transparent 0deg, transparent 0.5deg, #0f202b 0.5deg, #0f202b 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 60deg at 56.25% 70.8333333333%, transparent 0deg, transparent 0.5deg, #0f202b 0.5deg, #0f202b 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% 70.8333333333%, transparent 0deg, transparent 0.5deg, #0f202b 0.5deg, #0f202b 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% 70.8333333333%, transparent 0deg, transparent 0.5deg, #0f202b 0.5deg, #0f202b 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% 14.5833333333%, transparent 0deg, transparent 0.5deg, #0f202b 0.5deg, #0f202b 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% 14.5833333333%, transparent 0deg, transparent 0.5deg, #0f202b 0.5deg, #0f202b 119.5deg, transparent 119.5deg, transparent 120deg);
  background-position: 0 0, 10px 17px, 0 0, 10px 17px, 10px 0, 0 17px;
  background-size: 20px 34px;
  grid-area: aside-right;
  margin-left: 25px;
}
aside.lcdp-aside-right nav {
  background-color: rgba(39, 68, 94, 0.5);
  padding: 10px;
  position: relative;
  z-index: 0;
  margin: 10px;
}
aside.lcdp-aside-right nav a {
  display: block;
}

.lcdp-article-container {
  display: flex;
  flex-wrap: wrap;
}

/************** style - theme **************/
/************** styles -> theme -> color set -> test **************/
/************** style - theme - title **************/
/************** style - theme - text **************/
@font-face {
  font-family: ShareTech;
  src: url(../font/ShareTech-Regular.ttf) format("truetype");
  font-display: fallback;
}
html {
  font-family: ShareTech, Arial, sans-serif;
  font-weight: normal;
  color: #f3fbfd;
}

main h1 {
  color: #f3fbfd;
  border-bottom: 2px solid #5895bf;
  background: linear-gradient(0, #1a3243 0%, #1b384c 100%);
  font-weight: bold;
  text-align: center;
  text-shadow: #1b384c 1px 1px;
}
main h2 {
  color: #f3fbfd;
  position: relative;
  text-shadow: #292b2d 1px 1px;
  display: block;
  padding: 0 15px;
  width: fit-content;
  font-weight: bold;
  margin: 10px auto 28px;
}
main h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: #f3fbfd;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  opacity: 0.4;
}

aside h2 {
  color: #bfdaec;
  position: relative;
  text-shadow: #0c1215 1px 1px;
  display: block;
  padding: 0 15px;
  width: fit-content;
  font-weight: bold;
  margin: 10px auto 28px;
}
aside h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: #f3fbfd;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  opacity: 0.4;
}
aside h2 {
  margin: 0 auto 20px;
}

article h3 {
  color: #bfdaec;
  text-shadow: #0c1215 1px 1px;
  margin-left: 10px;
  font-weight: bold;
}

a:active {
  color: #DC5086;
}
a:visited {
  color: #04433A;
}
a:hover {
  color: #DC5086;
}

::selection {
  background-color: #EC9DBB;
  color: #04433A;
}

h2::selection {
  text-shadow: #881B45 2px 2px;
}

/************** styles -> theme -> color set -> test **************/
#lcdp-game-search section {
  display: flex;
  flex-wrap: wrap;
}
#lcdp-game-search section article {
  width: 32%;
  margin-left: 1%;
  margin-bottom: 10px;
  background-color: cadetblue;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - title **************/
/************** style - theme - background **************/
/************** style - theme - mixin **************/
/************** style - theme - background **************/
.lcdp-itl-team-list-item {
  width: 48.5%;
  margin-left: 1%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 28px 22px;
  grid-template-areas: "logo title action" "logo info action";
}
.lcdp-itl-team-list-item .lcdp-logo-team {
  grid-area: logo;
  border: solid 1px #5895bf;
}
.lcdp-itl-team-list-item header {
  grid-area: title;
  display: flex;
}
.lcdp-itl-team-list-item header span {
  background-color: rgba(39, 68, 94, 0.5);
  border-top: solid 1px #5895bf;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 2px 0 2px 2px;
}
.lcdp-itl-team-list-item header span img {
  height: 22px;
}
.lcdp-itl-team-list-item header h3 {
  margin-left: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  background-color: rgba(39, 68, 94, 0.5);
  border-top: solid 1px #5895bf;
  width: 100%;
}
.lcdp-itl-team-list-item header h3.RK1 {
  color: #a7734c;
}
.lcdp-itl-team-list-item header h3.RK2 {
  color: #497ab7;
}
.lcdp-itl-team-list-item header h3.RK3 {
  color: #31e0ff;
}
.lcdp-itl-team-list-item header h3.RK4 {
  color: #f3fbfd;
}
.lcdp-itl-team-list-item header h3.CAS {
  color: #fef660;
}
.lcdp-itl-team-list-item button {
  margin-left: 2px;
  grid-area: action;
  color: #f3fbfd;
  text-shadow: #292b2d;
  background-color: #5895bf;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 8px;
  font-weight: bold;
  font-size: 28px;
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
}
.lcdp-itl-team-list-item button:hover {
  background-color: #fef660;
}
.lcdp-itl-team-list-item .lcdp-info {
  grid-area: info;
  margin-left: 2px;
  margin-right: 0;
  display: flex;
}
.lcdp-itl-team-list-item .lcdp-info li {
  background-color: rgba(39, 68, 94, 0.5);
  border-bottom: solid 1px #5895bf;
  width: 100%;
  color: #bfdaec;
  text-shadow: #0c1215;
  padding-left: 2px;
}
.lcdp-itl-team-list-item .lcdp-info li.lcdp-team-type {
  width: 10px;
  padding: 2px 5px;
  margin-left: 2px;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - title **************/
/************** style - theme - background **************/
/************** style - theme - mixin **************/
/************** style - theme - background **************/
/************** style - interleague - club list **************/
.lcdp-itl-club-list-item {
  width: 48.5%;
  margin-left: 1%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 28px 22px;
  grid-template-areas: "logo title action" "logo info action";
}
.lcdp-itl-club-list-item .lcdp-logo-club {
  grid-area: logo;
  border: solid 1px #5895bf;
}
.lcdp-itl-club-list-item header {
  grid-area: title;
  display: flex;
}
.lcdp-itl-club-list-item header span {
  background-color: rgba(39, 68, 94, 0.5);
  border-top: solid 1px #5895bf;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 2px 0 2px 2px;
}
.lcdp-itl-club-list-item header span img {
  height: 22px;
}
.lcdp-itl-club-list-item header h3 {
  margin-left: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  background-color: rgba(39, 68, 94, 0.5);
  border-top: solid 1px #5895bf;
  width: 100%;
}
.lcdp-itl-club-list-item button {
  margin-left: 2px;
  grid-area: action;
  color: #f3fbfd;
  text-shadow: #292b2d;
  background-color: #5895bf;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 8px;
  font-weight: bold;
  font-size: 28px;
  clip-path: polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
}
.lcdp-itl-club-list-item button:hover {
  background-color: #fef660;
}
.lcdp-itl-club-list-item .lcdp-info {
  grid-area: info;
  margin-left: 2px;
  margin-right: 0;
  display: flex;
}
.lcdp-itl-club-list-item .lcdp-info li {
  background-color: rgba(39, 68, 94, 0.5);
  border-bottom: solid 1px #5895bf;
  width: 100%;
  color: #bfdaec;
  text-shadow: #0c1215;
  padding-left: 2px;
}
.lcdp-itl-club-list-item .lcdp-info li.lcdp-club-gender-policy {
  width: 10px;
  padding: 2px 5px;
  margin-left: 2px;
}

/*# sourceMappingURL=app.css.map */
