/************** App **************/
html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

ul, menu {
  margin: 0 auto;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-variant-numeric: lining-nums;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/************** style - theme **************/
/************** styles -> theme -> color set -> test **************/
@font-face {
  font-family: "Raleway";
  src: url(../font/Raleway-VariableFont_wght.ttf) format("truetype");
  font-display: fallback;
}
html {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  color: #0E3339;
}

h1 {
  color: #E8A1BA;
  text-shadow: #0E3339 2px 2px;
  font-weight: bold;
}

h2 {
  color: #832043;
  position: relative;
  text-shadow: #A82955 1px 1px;
  display: block;
  padding: 0 15px;
  width: fit-content;
  margin: 10px 0;
  font-weight: bold;
}
h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: #D65783;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  opacity: 0.8;
}

::selection {
  background-color: #E8A1BA;
  color: #0E3339;
}

h2::selection {
  text-shadow: #832043 2px 2px;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - background **************/
body {
  background-image: url("../images/test.jpg");
  background-repeat: repeat;
  margin: 0;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: auto 250px 1024px 200px auto;
  grid-template-areas: "header header header header header" ". sidebar main . ." "footer footer footer footer footer";
}

body::after {
  background: linear-gradient(0, rgba(32, 116, 131, 0.8) 0%, rgba(50, 182, 205, 0.6) 30%, rgba(87, 195, 214, 0.7) 40%, rgba(87, 195, 214, 0.7) 60%, rgba(50, 182, 205, 0.6) 70%, rgba(32, 116, 131, 0.8) 100%);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

main {
  background-color: #A1DDE8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #7CD0DF 0, #7CD0DF 1px, #A1DDE8 0, #A1DDE8 50%);
  display: block;
  width: 1024px;
  border: solid 2px #0E3339;
  margin: 0 auto;
  padding: 15px;
  min-height: 900px;
  position: relative;
  z-index: 2;
  grid-area: main;
}

.content {
  background-color: rgba(124, 208, 223, 0.5);
  padding: 10px;
  position: relative;
  z-index: 0;
  margin-bottom: 10px;
}

aside {
  background-color: #A1DDE8;
  background-image: linear-gradient(#7CD0DF 2px, transparent 2px), linear-gradient(90deg, #7CD0DF 2px, transparent 2px), linear-gradient(#7CD0DF 1px, transparent 1px), linear-gradient(90deg, #7CD0DF 1px, #A1DDE8 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  display: block;
  border: solid 2px #0E3339;
  position: relative;
  z-index: 2;
  grid-area: sidebar;
  margin-right: 25px;
  padding: 10px;
}

.lcdr-article-box {
  display: flex;
  flex-wrap: wrap;
}

article {
  background-color: #D6AA57;
  width: 48%;
  margin-left: 1%;
  margin-bottom: 5px;
}

/************** styles -> theme -> color set -> test **************/
/************** style - theme - input **************/
button {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  color: #392A0E;
  background-color: #DFBC7C;
  padding: 15px 50px;
  border-top: solid 1px #392A0E;
  border-left: solid 10px #392A0E;
  border-right: solid 10px #392A0E;
  border-bottom: solid 1px #392A0E;
  margin: 10px 20px;
  cursor: pointer;
}

button:hover, .hover {
  background-color: #E8CFA1;
}

button:active, .active {
  background-color: #E8CFA1;
}

/************** styles -> theme -> color set -> test **************/
header {
  margin-bottom: 50px;
  padding-top: 60px;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 60px 40px auto max-content auto 40px 60px;
  grid-area: header;
}
header nav {
  background-image: url("../images/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
header nav a {
  display: none;
}
header .lcdr-bar {
  border-bottom: #7CD0DF double 10px;
  height: 15px;
  margin: 0 10px;
}
/************** styles -> theme -> color set -> test **************/
footer {
  border-top: #7CD0DF double 10px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
  grid-area: footer;
}

/*# sourceMappingURL=app.css.map */
