@use 'theme/color_set/color' as color;
@use 'theme/mixin/geo' as geo;

#lcdp-main-header {
    margin-bottom: 50px;
    padding-top: 60px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 60px max-content auto max-content auto 40px 60px;
    grid-area: header;

    nav {
        background-image: url("../images/menu.svg");
        background-size: contain;
        background-repeat: no-repeat;

        a {
          display: none;
        }
    }

    .lcdp-bar {
        @include geo.double-skewed-bar(color.$border);
        margin: 9px 20px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
